.contacts__soc-icon {
    display: inline-block;
    margin: -5px 0 0 0;
    line-height: 1;
    vertical-align: middle;
}

.contacts__icon-svg {
    line-height: 1;
    width: 38px;
    height: 38px;
    @include mobileXS-block {
        width: 30px;
        height: 30px;
    }
    @include mobileXSS-block {
        width: 24px;
        height: 24px;
    }
}

.contacts__info {
    margin-top: 60px;
    @include mobile(margin-top, 30px);
}

.contacts__wrapp {
    display: flex;
    justify-content: center;
    @include mobile-block {
        flex-direction: column;
        align-items: center;
    }
}

.contacts__phone,
.contacts__email {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.contacts__email:hover .contacts__text-email,
.contacts__phone:hover .contacts__text-number {
    color: var(--color-yellow);
    cursor: pointer;
}

.contacts__text-email,
.contacts__text-number {
    transition: color .3s ease;
}

.contacts__phone {
    margin-right: 90px;
    @include mobile(margin-right, 0);
}

.contacts__email {
    @include mobile(margin-top, 20px);
}

.contacts__icon {
    margin-right: 20px;
}

.contact__address {
    margin-top: 25px;
}