.contacts__info {
    margin-top: 60px;
    @include mobile(margin-top, 30px);
}

.contacts__wrapp {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include mobile-block {
        flex-direction: column;
        align-items: center;
    }
}

.contacts__social {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.contacts__social ~ .contacts__social {
    margin-left: 50px;
    @include mobile(margin-left, 0);
    @include mobile-block {
        margin-left: 0;
        margin-top: 25px;
    }
}

.contacts__social:hover .contacts__text {
    color: var(--color-yellow);
    cursor: pointer;
}

.contacts__text {
    transition: color .3s ease;
}

.contacts__icon {
    margin-right: 20px;
}

.contact__address {
    margin-top: 25px;
}