.menu__list{
    display: flex;
    font-family: var(--font-gotham);
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.menu__item {
    position: relative;
    padding: 34px 0 33px;
    @include tablet(padding, 0);
}

.menu__item ~ .menu__item {
    margin-left: 30px;
}

.menu__link {
    color: var(--color-black-low);
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    transition: ease .3s;
    cursor: pointer;
}

.menu__link:hover {
    border-bottom: 2px solid var(--color-yellow);
}

.menu__sub-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 0;
    list-style: none;
    top: 100%;
    left: -100%;
    box-shadow: 0px 0px 1px rgb(0 0 0 / 30%);
    transition: visibility .3s ease-in, opacity .3s ease-in-out;
    @include tablet-block {
        position: static;
        top: auto;
        left: auto;
        max-height: 0;
        transition: visibility .3s ease-in, opacity .3s ease-in-out, max-height .3s ease-in-out;
    }
}

.menu__list > .menu__item:focus-within > .menu__sub-menu, 
.menu__list > .menu__item:focus > .menu__sub-menu, 
.menu__list > .menu__item:hover > .menu__sub-menu {
    visibility: visible;
    opacity: 1;
    @include tablet-block {
        max-height: 20em;
    }
}

.menu__sub-menu > .menu__item {
    margin-left: 0;
    padding: 0;
    text-align: center;
}

.menu__sub-menu > .menu__item .menu__link {
    display: block;
    padding: 30px 48px;
    background: var(--color-white);
    @include tablet-block {
        background: transparent;
    }
}