.product-slider.product-slider--works {
    padding-top: 30px;
    padding-bottom: 90px;
}

.product-slider__heading {
    margin-bottom: 30px;
}

.product-slider__navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.product-slider__arrow {
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-yellow);
    margin-bottom: 20px;
    cursor: pointer;
}

.product-slider__arrow::before {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.product-slider__arrow--prev-black::before {
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNiAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGxpbmUgeDE9IjEuNDcwNyIgeTE9IjcuMzcxMjYiIHgyPSI3LjgzNDY2IiB5Mj0iMS4wMDczIiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPGxpbmUgeDE9IjEuNzA3MTEiIHkxPSI3LjYwNjkzIiB4Mj0iOC4wNzEwNyIgeTI9IjEzLjk3MDkiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8L3N2Zz4K");
    left: 62%;
}

.product-slider__arrow--next-black::before {
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNiAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGxpbmUgeDE9IjAuNSIgeTE9Ii0wLjUiIHgyPSI5LjUiIHkyPSItMC41IiB0cmFuc2Zvcm09Im1hdHJpeCgtMC43MDcxMDcgLTAuNzA3MTA3IC0wLjcwNzEwNyAwLjcwNzEwNyAxNC41MjkzIDguMDc4MTIpIiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPGxpbmUgeDE9IjAuNSIgeTE9Ii0wLjUiIHgyPSI5LjUiIHkyPSItMC41IiB0cmFuc2Zvcm09Im1hdHJpeCgtMC43MDcxMDcgMC43MDcxMDcgMC43MDcxMDcgMC43MDcxMDcgMTUgNy42MDY2OSkiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8L3N2Zz4K");
    left: 42%;
}

.product-slider__arrow--prev-white::before {
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNiAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGxpbmUgeDE9IjEuNDcxNjgiIHkxPSI3LjM3MDk3IiB4Mj0iNy44MzU2NCIgeTI9IjEuMDA3MDEiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8bGluZSB4MT0iMS43MDcxMSIgeTE9IjcuNjA2NjkiIHgyPSI4LjA3MTA3IiB5Mj0iMTMuOTcwNyIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=");
    left: 62%;
}

.product-slider__arrow--next-white::before {
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNiAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGxpbmUgeDE9IjAuNSIgeTE9Ii0wLjUiIHgyPSI5LjUiIHkyPSItMC41IiB0cmFuc2Zvcm09Im1hdHJpeCgtMC43MDcxMDcgLTAuNzA3MTA3IC0wLjcwNzEwNyAwLjcwNzEwNyAxNC41MjgzIDguMDc4MDgpIiBzdHJva2U9IndoaXRlIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPGxpbmUgeDE9IjAuNSIgeTE9Ii0wLjUiIHgyPSI5LjUiIHkyPSItMC41IiB0cmFuc2Zvcm09Im1hdHJpeCgtMC43MDcxMDcgMC43MDcxMDcgMC43MDcxMDcgMC43MDcxMDcgMTUgNy42MDY2OSkiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8L3N2Zz4K");
    left: 42%;
}
