{% include "partials/_header.html" %}

<!-- about-product -->
<section class="about-product bg-white">
    <div class="about-product__body container">
        <div class="about-product__content">
            <div class="about-product__gallery">
                <div class="about-product__swiper-full swiper-container gs-reveal gs-reveal--from-left">
                    <div class="about-product__swiper-wrapper swiper-wrapper">
                        <div class="about-product__swiper-slide swiper-slide">
                            <div class="about-product__swiper-zoom-container swiper-zoom-container">
                                <img src="img/upload/about-product-1.jpg" alt="" class="about-product__slide-photo">
                            </div>
                        </div>
                        <div class="about-product__swiper-slide swiper-slide">
                            <div class="about-product__swiper-zoom-container swiper-zoom-container">
                                <img src="img/upload/product-photo-1.jpg" alt="" class="about-product__slide-photo">
                            </div>
                        </div>
                        <div class="about-product__swiper-slide swiper-slide">
                            <div class="about-product__swiper-zoom-container swiper-zoom-container">
                                <img src="img/upload/product-photo-2.jpg" alt="" class="about-product__slide-photo">
                            </div>
                        </div>
                        <div class="about-product__swiper-slide swiper-slide">
                            <div class="about-product__swiper-zoom-container swiper-zoom-container">
                                <img src="img/upload/about-author-1.jpg" alt="" class="about-product__slide-photo">
                            </div>
                        </div>
                    </div>
                    <div class="about-product__zoom">
                        <svg class="about-product__zoom-svg" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.031 16.617L22.314 20.899L20.899 22.314L16.617 18.031C15.0237 19.3082 13.042 20.0029 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20.0029 13.042 19.3082 15.0237 18.031 16.617ZM16.025 15.875C17.2941 14.5699 18.0029 12.8204 18 11C18 7.132 14.867 4 11 4C7.132 4 4 7.132 4 11C4 14.867 7.132 18 11 18C12.8204 18.0029 14.5699 17.2941 15.875 16.025L16.025 15.875ZM10 10V7H12V10H15V12H12V15H10V12H7V10H10Z" fill="#283550" fill-opacity="0.6"/>
                        </svg>
                    </div>
                </div>
                <div class="about-product__swiper-thumb swiper-container gs-reveal gs-reveal--from-left" thumbsSlider="">
                    <div class="about-product__swiper-wrapper-thumb swiper-wrapper">
                        <div class="about-product__swiper-slide-thumb swiper-slide">
                            <img src="img/upload/about-product-1.jpg" alt="" class="about-product__slide-photo-thumb">
                        </div>
                        <div class="about-product__swiper-slide-thumb swiper-slide">
                            <img src="img/upload/product-photo-1.jpg" alt="" class="about-product__slide-photo-thumb">
                        </div>
                        <div class="about-product__swiper-slide-thumb swiper-slide">
                            <img src="img/upload/product-photo-2.jpg" alt="" class="about-product__slide-photo-thumb">
                        </div>
                        <div class="about-product__swiper-slide-thumb swiper-slide">
                            <img src="img/upload/about-author-1.jpg" alt="" class="about-product__slide-photo-thumb">
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-product__description">
                <h2 class="about-product__name title title--medium title--black-low title--w-black gs-reveal gs-reveal--from-right">
                    “Путник”
                </h2>
                <h3 class="about-product__headline title title--small title--black-low title--w-normal gs-reveal gs-reveal--from-right">
                    Алла Рой
                </h3>
                <div class="about-product__text wysiwyg gs-reveal gs-reveal--from-right">
                    <p>
                        Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Взгляд подзаголовок сих речью он маленькая большой власти необходимыми безопасную пустился снова мир рыбными маленький переписали образ, собрал даль которое свое, языкового, одна себя. Подзаголовок залетают меня оксмокс своих предупреждал, пунктуация использовало агентство приставка раз власти инициал предложения маленький послушавшись.
                    </p>
                    <p>
                        Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Точках которое что семь безорфографичный продолжил по всей назад, переписали живет коварных до напоивший меня коварный оксмокс большой обеспечивает ему составитель.
                    </p>
                    <ul>
                        <li>
                            Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
                        </li>
                        <li>
                            Далеко-далеко за словесными горами в стране.
                        </li>
                        <li>
                            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Строчка, снова.
                        </li>
                        <li>
                            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Большой гор одна заманивший своих!
                        </li>
                    </ul>
                </div>
                <div class="about-product__footer gs-reveal gs-reveal--from-right">
                    <div class="about-product__price title title--medium title--black-low title--w-black">
                        20 000 ₽
                    </div>
                    <div class="about-product__action gs-reveal gs-reveal--from-right">
                        <a href="" class="about-product__button button button--basket">
                            ДОБАВИТЬ В КОРЗИНУ
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /. about-product -->

<!-- Product-slider -->
<section class="product-slider product-slider--works bg-white">
    <div class="product-slider__body container">
        <h2 class="product-slider__heading title title--medium title--black-low title--w-black gs-reveal gs-reveal--from-left">
            Работы автора
        </h2>
        <div class="product-slider__navigation slider-nav gs-reveal">
            <div class="product-slider__arrow product-slider__arrow--prev slider-nav__arrow slider-nav__arrow--prev slider-nav__arrow--prev-black"></div>
            <div class="product-slider__arrow product-slider__arrow--next slider-nav__arrow slider-nav__arrow--prev slider-nav__arrow--next-black"></div>
        </div>
        <div class="product-slider__swiper swiper-container">
            <div class="product-slider__swiper-wrapper swiper-wrapper gs-reveal gs-reveal--from-right">
                <div class="product-slider__swiper-slide swiper-slide">
                    <a href="#" class="product-card product-card--slider">
                        <div class="product-card__picture">
                            <img src="img/upload/product-photo-1.jpg" alt="" class="product-card__photo">
                        </div>
                        <div class="product-card__name title title--medium title--black-low title--w-black">
                            Стирка
                        </div>
                        <div class="product-card__author title title--small title--black-low title--w-normal">
                            Алла Рой
                        </div>
                        <div class="product-card__price title title--medium title--black-low title--w-black">
                            25 000 ₽
                        </div>
                    </a>
                </div>
                <div class="product-slider__swiper-slide swiper-slide">
                    <a href="#" class="product-card product-card--slider">
                        <div class="product-card__picture">
                            <img src="img/upload/product-photo-2.jpg" alt="" class="product-card__photo">
                        </div>
                        <div class="product-card__name title title--medium title--black-low title--w-black">
                            Гордыня
                        </div>
                        <div class="product-card__author title title--small title--black-low title--w-normal">
                            Анисия Теплякова
                        </div>
                        <div class="product-card__price title title--medium title--black-low title--w-black">
                            16 000 ₽
                        </div>
                    </a>
                </div>
                <div class="product-slider__swiper-slide swiper-slide">
                    <a href="#" class="product-card product-card--slider">
                        <div class="product-card__picture">
                            <img src="img/upload/product-photo-3.jpg" alt="" class="product-card__photo">
                        </div>
                        <div class="product-card__name title title--medium title--black-low title--w-black">
                            LEBEDEV 1
                        </div>
                        <div class="product-card__author title title--small title--black-low title--w-normal">
                            Екатерина Романова
                        </div>
                        <div class="product-card__price title title--medium title--black-low title--w-black">
                            999 999 999 ₽
                        </div>
                    </a>
                </div>
                <div class="product-slider__swiper-slide swiper-slide">
                    <a href="#" class="product-card product-card--slider">
                        <div class="product-card__picture">
                            <img src="img/upload/product-photo-4.jpg" alt="" class="product-card__photo">
                        </div>
                        <div class="product-card__name title title--medium title--black-low title--w-black">
                            Несчастный случай 2
                        </div>
                        <div class="product-card__author title title--small title--black-low title--w-normal">
                            Алла Рой
                        </div>
                        <div class="product-card__price title title--medium title--black-low title--w-black">
                            20 000 ₽
                        </div>
                    </a>
                </div>
                <div class="product-slider__swiper-slide swiper-slide">
                    <a href="#" class="product-card product-card--slider">
                        <div class="product-card__picture">
                            <img src="img/upload/product-photo-5.jpg" alt="" class="product-card__photo">
                        </div>
                        <div class="product-card__name title title--medium title--black-low title--w-black">
                            Алчность
                        </div>
                        <div class="product-card__author title title--small title--black-low title--w-normal">
                            Анисия Теплякова
                        </div>
                        <div class="product-card__price title title--medium title--black-low title--w-black">
                            15 000 ₽
                        </div>
                    </a>
                </div>
                <div class="product-slider__swiper-slide swiper-slide">
                    <a href="#" class="product-card product-card--slider">
                        <div class="product-card__picture">
                            <img src="img/upload/product-photo-6.jpg" alt="" class="product-card__photo">
                        </div>
                        <div class="product-card__name title title--medium title--black-low title--w-black">
                            Прыжок 1
                        </div>
                        <div class="product-card__author title title--small title--black-low title--w-normal">
                            Алла Рой
                        </div>
                        <div class="product-card__price title title--medium title--black-low title--w-black">
                            23 000 ₽
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /. Product-slider -->

{% include "partials/_footer.html" %}