{% include "partials/_header.html" %}

<!-- Product-slider -->
<section class="product-slider product-slider--main bg--black block-padding">
    <div class="product-slider__body container">
        <h2 class="product-slider__heading title title--big title--yellow title--w-black">
            Новые работы
        </h2>
        <div class="product-slider__navigation slider-nav">
            <div class="product-slider__arrow product-slider__arrow--prev slider-nav__arrow slider-nav__arrow--prev slider-nav__arrow--prev-white"></div>
            <div class="product-slider__arrow product-slider__arrow--next slider-nav__arrow slider-nav__arrow--prev slider-nav__arrow--next-white"></div>
        </div>
        <div class="product-slider__swiper swiper-container">
            <div class="product-slider__swiper-wrapper swiper-wrapper">
                <div class="product-slider__swiper-slide swiper-slide">
                    <a href="#" class="product-card product-card--slider">
                        <div class="product-card__picture">
                            <img src="img/upload/product-photo-1.jpg" alt="" class="product-card__photo">
                        </div>
                        <div class="product-card__name title title--medium title--white title--w-black">
                            Стирка
                        </div>
                        <div class="product-card__author title title--small title--white title--w-normal">
                            Алла Рой
                        </div>
                        <div class="product-card__price title title--medium title--white title--w-black">
                            25 000 ₽
                        </div>
                    </a>
                </div>
                <div class="product-slider__swiper-slide swiper-slide">
                    <a href="#" class="product-card product-card--slider">
                        <div class="product-card__picture">
                            <img src="img/upload/product-photo-2.jpg" alt="" class="product-card__photo">
                        </div>
                        <div class="product-card__name title title--medium title--white title--w-black">
                            Гордыня
                        </div>
                        <div class="product-card__author title title--small title--white title--w-normal">
                            Анисия Теплякова
                        </div>
                        <div class="product-card__price title title--medium title--white title--w-black">
                            16 000 ₽
                        </div>
                    </a>
                </div>
                <div class="product-slider__swiper-slide swiper-slide">
                    <a href="#" class="product-card product-card--slider">
                        <div class="product-card__picture">
                            <img src="img/upload/product-photo-3.jpg" alt="" class="product-card__photo">
                        </div>
                        <div class="product-card__name title title--medium title--white title--w-black">
                            LEBEDEV 1
                        </div>
                        <div class="product-card__author title title--small title--white title--w-normal">
                            Екатерина Романова
                        </div>
                        <div class="product-card__price title title--medium title--white title--w-black">
                            999 999 999 ₽
                        </div>
                    </a>
                </div>
                <div class="product-slider__swiper-slide swiper-slide">
                    <a href="#" class="product-card product-card--slider">
                        <div class="product-card__picture">
                            <img src="img/upload/product-photo-4.jpg" alt="" class="product-card__photo">
                        </div>
                        <div class="product-card__name title title--medium title--white title--w-black">
                            Несчастный случай 2
                        </div>
                        <div class="product-card__author title title--small title--white title--w-normal">
                            Алла Рой
                        </div>
                        <div class="product-card__price title title--medium title--white title--w-black">
                            20 000 ₽
                        </div>
                    </a>
                </div>
                <div class="product-slider__swiper-slide swiper-slide">
                    <a href="#" class="product-card product-card--slider">
                        <div class="product-card__picture">
                            <img src="img/upload/product-photo-5.jpg" alt="" class="product-card__photo">
                        </div>
                        <div class="product-card__name title title--medium title--white title--w-black">
                            Алчность
                        </div>
                        <div class="product-card__author title title--small title--white title--w-normal">
                            Анисия Теплякова
                        </div>
                        <div class="product-card__price title title--medium title--white title--w-black">
                            15 000 ₽
                        </div>
                    </a>
                </div>
                <div class="product-slider__swiper-slide swiper-slide">
                    <a href="#" class="product-card product-card--slider">
                        <div class="product-card__picture">
                            <img src="img/upload/product-photo-6.jpg" alt="" class="product-card__photo">
                        </div>
                        <div class="product-card__name title title--medium title--white title--w-black">
                            Прыжок 1
                        </div>
                        <div class="product-card__author title title--small title--white title--w-normal">
                            Алла Рой
                        </div>
                        <div class="product-card__price title title--medium title--white title--w-black">
                            23 000 ₽
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /. Product-slider -->

{% include "partials/_footer.html" %}