{% include "partials/_header.html" %}

<!-- Workshop -->
<section class="workshop bg--black workshop--one-block">
    <div class="workshop__body workshop__body--one container">
        <div class="workshop__content workshop__content--left">
            <h2 class="workshop__heading title title--big title--yellow title--w-black title--indent">
                Художникам
            </h2>
            <div class="workshop__descr">
                <h3 class="workshop__headline title title--medium title--white title--w-black">
                    COMMUNITY print & gallery
                </h3>
                <p class="workshop__text text text--normal text--white text--w-regular">
                    Проект, созданный художниками для художников. Независимо от того, печатаете вы свои работы, пополняете частную коллекцию или решаете задачи бизнеса. Нас объединяет взгляд на печать, как высокое искусство. 
                </p>
                <h3 class="workshop__headline title title--medium title--white title--w-black">
                    География? Не важна
                </h3>
                <p class="workshop__text text text--normal text--white text--w-regular">
                    Напечатаем дистанционно и отправим готовый тираж.
                </p>
                <h3 class="workshop__headline title title--medium title--white title--w-black">
                    Что можно напечатать?
                </h3>
                <p class="workshop__text text text--normal text--white text--w-regular">
                    Тиражная или единичная печать художественных работ и репродукций картин, печать авторских принтов на бумаге и текстиле, плакаты и каллиграфия, логотипы, эмблемы или рекламная информация на разных носителях, сувенирная продукция.
                </p>
                <h3 class="workshop__headline title title--medium title--white title--w-black">
                    Два вида печати
                </h3>
                <p class="workshop__text text text--normal text--white text--w-regular">
                    До этого момента вы печатали картины на принтерах в формате постеров. Мы предлагаем использовать шелкографию – наилучшую технику для репродукции произведений искусства и их тиражирования. Создавать оригинальные авторские работы высшего качества и ценности. С объемной печатью, шершавой поверхностью, на художественной и дизайнерской бумаге.
                </p>
                <a href="" class="workshop__action">
                    <a href="" class="button button--yellow">
                        Посмотреть прайс
                    </a>
                </a>
            </div>
        </div>
        <div class="workshop__content workshop__content--right">
            <div class="workshop__decor workshop__decor--rectangle">
                <img src="img/workshop/main-workshop-rectangle-2.svg" alt="" class="workshop__rectangle">
            </div>
            <div class="workshop__item">
                <div class="workshop__item-text">
                    <h3 class="workshop__tagline title title--medium title--yellow title--w-black">
                        Авторская печать
                    </h3>
                    <p class="workshop__item-descr text text--white text--w-regular">
                        Художник сам печатает свою работу, в процессе производства корректирует и вносит свои оригинальные штрихи в проект.
                    </p>
                </div>
                <div class="workshop__pic">
                    <img src="img/workshop/workshop-photo-1.jpg" alt="" class="workshop__photo">
                </div>
            </div>
            <div class="workshop__item">
                <div class="workshop__item-text">
                    <h3 class="workshop__tagline title title--medium title--yellow title--w-black">
                        Печать от мастера
                    </h3>
                    <p class="workshop__item-descr text text--white text--w-regular">
                        Весь процесс печати берет на себя мастер нашей мастерской.
                    </p>
                </div>
                <div class="workshop__pic">
                    <img src="img/workshop/workshop-photo-2.jpg" alt="" class="workshop__photo">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /. Workshop -->

<!-- Workshop -->
<section class="workshop bg--black">
    <div class="workshop__body container">
        <div class="workshop__content workshop__content--left">
            <h2 class="workshop__heading title title--big title--yellow title--w-black title--indent">
                Бизнесу и частным клиентам
            </h2>
            <div class="workshop__descr">
                <p class="workshop__text text text--normal text--white text--w-regular">
                    Наши критерии качества печатной продукции отличаются от общепринятых в России.
                    <br>
                    Мы беремся за оригинальные проекты, воодушевлены нестандартными решениями и экспериментами. Печатаем бумажную, текстильную и сувенирную продукцию ограниченным тиражом. Оформим заказ дистанционно и отправим в любую точку мира.
                </p>
            </div>
            <h2 class="workshop__heading workshop__heading--two title title--big title--yellow title--w-black title--indent">
                Ценителям и коллекционерам
            </h2>
            <div class="workshop__descr">
                <p class="workshop__text text text--normal text--white text--w-regular">
                    Шелкография позволяет создавать оригинальные авторские работы и репродукции высокого качества. Вы становитесь обладателем не постера, помноженного на тысячи экземпляров, а редкого произведения искусства.
                </p>
            </div>
            <div class="workshop__pic-bg">
                <img src="img/workshop/workshop-bg-photo-3.png" alt="" class="workshop__bg-photo">
            </div>
        </div>
        <div class="workshop__content workshop__content--right">
            <div class="workshop__decor workshop__decor--rectangle">
                <img src="img/workshop/main-workshop-rectangle-2.svg" alt="" class="workshop__rectangle">
            </div>
            <div class="workshop__item">
                <div class="workshop__content-action workshop__content-action--main">
                    <h3 class="workshop__tagline title title--medium title--yellow title--w-black">
                        Заказать мерч
                    </h3>
                    <a href="" class="workshop__content-action-btn button button--yellow">
                        Печать на текстиле
                    </a>
                    <a href="" class="workshop__content-action-btn button button--yellow">
                        Персональный заказ
                    </a>
                </div>
                <div class="workshop__pic">
                    <img src="img/workshop/workshop-photo-3.jpg" alt="" class="workshop__photo">
                </div>
            </div>
            <div class="workshop__item">
                <div class="workshop__content-action workshop__content-action--main">
                    <a href="" class="workshop__content-action-btn button button--yellow">
                        Галерея
                    </a>
                </div>
                <div class="workshop__pic">
                    <img src="img/workshop/workshop-photo-4.jpg" alt="" class="workshop__photo">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /. Workshop -->

{% include "partials/_footer.html" %}