{% include "partials/_header.html" %}

<!-- Authors -->
<section class="authors bg--white block-padding">
    <div class="authors__body container">
        <h2 class="authors__heading title title--big title--black-low title--w-black title--indent gs-reveal gs-reveal--from-left">
            Художники
        </h2>
        <div class="authors__list">
            <a href="./author.html" class="authors__item gs-reveal">
                <div class="authors__picture">
                    <img src="img/upload/authors-photo-1.jpg" alt="" class="authors__photo">
                </div>
                <div class="authors__name title title--medium title--black-low title--w-black">
                    Алла Рой
                </div>
            </a>
            <a href="./author.html" class="authors__item gs-reveal">
                <div class="authors__picture">
                    <img src="img/upload/authors-photo-2.jpg" alt="" class="authors__photo">
                </div>
                <div class="authors__name title title--medium title--black-low title--w-black">
                    Анастасия Жихарцева (Окулова)
                </div>
            </a>
            <a href="./author.html" class="authors__item gs-reveal">
                <div class="authors__picture">
                    <img src="img/upload/authors-photo-3.jpg" alt="" class="authors__photo">
                </div>
                <div class="authors__name title title--medium title--black-low title--w-black">
                    Анисия Теплякова
                </div>
            </a>
            <a href="./author.html" class="authors__item gs-reveal">
                <div class="authors__picture">
                    <img src="img/upload/authors-photo-4.jpg" alt="" class="authors__photo">
                </div>
                <div class="authors__name title title--medium title--black-low title--w-black">
                    Екатерина Романова
                </div>
            </a>
            <a href="./author.html" class="authors__item gs-reveal">
                <div class="authors__picture">
                    <img src="img/upload/authors-photo-5.jpg" alt="" class="authors__photo">
                </div>
                <div class="authors__name title title--medium title--black-low title--w-black">
                    Алексей Леонтьев
                </div>
            </a>
            <a href="./author.html" class="authors__item gs-reveal">
                <div class="authors__picture">
                    <img src="img/upload/authors-photo-6.jpg" alt="" class="authors__photo">
                </div>
                <div class="authors__name title title--medium title--black-low title--w-black">
                    Наталья Ковалёва
                </div>
            </a>
            <a href="./author.html" class="authors__item gs-reveal">
                <div class="authors__picture">
                    <img src="img/upload/authors-photo-7.jpg" alt="" class="authors__photo">
                </div>
                <div class="authors__name title title--medium title--black-low title--w-black">
                    Сергей Перфилов
                </div>
            </a>
            <a href="./author.html" class="authors__item gs-reveal">
                <div class="authors__picture">
                    <img src="img/upload/authors-photo-8.jpg" alt="" class="authors__photo">
                </div>
                <div class="authors__name title title--medium title--black-low title--w-black">
                    Кирилл Прокофьев
                </div>
            </a>
        </div>
    </div>
</section>
<!-- /. Authors -->

{% include "partials/_footer.html" %}