{% include "partials/_header.html" %}

<!-- Search-page -->
<section class="search-page bg--white block-padding">
    <div class="search-page__body container">
        <h2 class="search-page__heading title title--big title--black-low title--w-black title--indent">
            Результаты поиска
        </h2>
        <h3 class="search-page__headline text text--normal text--black-low text--w-regular title--indent">
            Результаты поиска по запросу: <span class="search-page__result-word text text--normal text--black-low text--w-bold">«Печать»</span>
        </h3>
        <div class="search-page__results">
            <div class="search-page__result">
                <a href="" class="search-page__result-title title title--medium title--black-low title--w-black">
                   <span class="search-page__highlight">Печать</span> POS-материалов
                </a>
                <p class="search-page__result-excerpt text text--normal text--black-low text--w-regular">
                    Базовая стоимость печати шелкографией на бумаге в 1 цвет*...
                </p>
                <div class="search-page__result-date text text--normal text--dark text--w-regular">
                    Дата добавления: 26.07.2021
                </div>
            </div>
            <div class="search-page__result">
                <a href="" class="search-page__result-title title title--medium title--black-low title--w-black">
                    Широкоформатная <span class="search-page__highlight">печать</span>
                </a>
                <p class="search-page__result-excerpt text text--normal text--black-low text--w-regular">
                    Базовая стоимость широкоформатной печати в зависимости от размера бумаги и выполнения в ч/б и цветном изображении в руб/1 шт...
                </p>
                <div class="search-page__result-date text text--normal text--dark text--w-regular">
                    Дата добавления: 14.03.2021
                </div>
            </div>
            <div class="search-page__result">
                <a href="" class="search-page__result-title title title--medium title--black-low title--w-black">
                   <span class="search-page__highlight">Печать</span> на бумаге
                </a>
                <p class="search-page__result-excerpt text text--normal text--black-low text--w-regular">
                    Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Не приставка свою деревни рукопись...
                </p>
                <div class="search-page__result-date text text--normal text--dark text--w-regular">
                    Дата добавления: 11.05.2021
                </div>
            </div>
            <div class="search-page__no-found text text--normal text--black-low text--w-black">
                По вашему запросу ничего не найдено.
            </div>
        </div>
    </div>
</section>
<!-- /. Search-page -->

{% include "partials/_footer.html" %}