.instafeed-slider__navigation {
    margin-bottom: 20px;
}

.instafeed-slider__link {
    cursor: pointer;
    color: var(--color-dark-low);
    text-decoration: none;
    transition: color .2s ease-in-out, transform .2s ease-in-out;
}

.instafeed-slider__link:hover {
    color: var(--color-yellow);
    transform: translateY(-10px);
}

.instafeed-slider__link,
.instafeed-slider__img {
    display: block;
    cursor: pointer;
    height: 100%;
    max-height: 320px;
    width: 100%;
    max-width: 320px;
    @include to(1366px) {
        max-height: 270px;
        max-width: 100%;
    }
    @include large-block {
        max-height: 240px;
    }
    @include tablet-block {
        max-height: 300px;
    }
    @include mobile-block {
        max-height: 320px;
    }
    @include mobileXS-block {
        max-height: 300px;
    }
}

.instafeed-slider__img {
    object-fit: cover;
    object-position: center;
}