.price-workshop__content ~ .price-workshop__content {
    margin-top: 60px;
}

.price-workshop__headline {
    display: inline-block;
    padding: 12px 22px;
    background: var(--color-black);
}

.price-workshop__tables {
    display: flex;
    flex-wrap: wrap;
}

.price-workshop__table {
    margin-top: 25px;
    margin-right: 50px;
    margin-bottom: 25px;
}

.price-workshop__footer {
    margin-top: 60px;
}

.price-workshop__actions {
    margin-top: 30px;
}

.price-workshop__btn + .price-workshop__btn {
    margin-left: 60px;
}