.price-workshop__content ~ .price-workshop__content {
    margin-top: 60px;
}

.price-workshop__headline {
    display: inline-block;
    padding: 12px 22px;
    background: var(--color-black);
}

.price-workshop__tables {
    display: flex;
    flex-wrap: wrap;
    @include tablet(overflow-x, auto);
}

.price-workshop__table {
    margin-top: 25px;
    margin-right: 50px;
    margin-bottom: 25px;
    @include tablet-block {
        margin: 25px 0px;
        touch-action: cross-slide-y;
    }
}

.price-workshop__footer {
    margin-top: 60px;
}

.price-workshop__actions {
    margin-top: 30px;
    @include mobile(text-align, center);
}

.price-workshop__btn + .price-workshop__btn {
    margin-left: 60px;
    @include mobile-block {
        margin-left: 0;
        margin-top: 30px;
    }
}