.authors {
    padding-bottom: 90px;
}

.authors__list {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 306px));
    justify-content: space-between;
    grid-gap: 60px 50px;
    @include tablet-block {
        grid-template-columns: repeat(3, minmax(200px, 350px));
        grid-gap: 50px;
    }
    @include mobile-block {
        grid-template-columns: repeat(2, minmax(200px, 350px));
    }
    @include mobileXS-block {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
}

.authors__item {
    text-decoration: none;
    transition: ease .3s;
    position: relative;
}

.authors__item::before {
    content: '';
    position: absolute;
    left: -15px;
    right: -15px;
    top: -15px;
    bottom: -15px;
    transition: ease .3s;
}

.authors__item:hover::before {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.25);
}

.authors__picture {
    max-width: 306px;
    max-height: 318px;
    overflow: hidden;
    @include tablet(max-width, 100%);
}

.authors__photo {
    display: block;
    height: 100%;
    width: 100%;
}

.authors__name {
    margin-top: 14px;
}

.authors__actions {
    margin-top: 60px;
    text-align: center;
}