/* Cursor Animation */
@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.gs-reveal {
    opacity: 0;
    visibility: hidden;
    will-change: transform, opacity;
}

.a-reveal {
    transform: translate3d(0, 100px, 0);
    opacity: 0;
    transition: transform ease-in-out 0.5s .250s, opacity 0.5s ease-in-out .5s;
    &.is-revealed {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}