* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    @include mobile(scroll-padding-top, 50px);
}

html,
body {
    height: 100%;
}

img {
    max-width: 100%;
}