/* Containers */

.container {
	@include wrapper();
}

.container-full {
	@include wrapper-full();
}

/* Hide */

.hide {
    display: none !important;
}

.hide-large {
	@include large(display, none !important);
}

.hide-tablet {
	@include tablet(display, none !important);
}

.hide-mobile {
	@include mobile(display, none !important);
}

/* Position */

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* Background */

.bg {
    &--white {
        background-color: var(--color-white);
    }
    &--dark {
        background-color: var(--color-dark);
    }
    &--black {
        background-color: var(--color-black);
    }
}

/* Block-padding */
.block-padding {
    padding: 60px 0;
}

/* Links */

.link {
    text-decoration: none;
    transition: ease .3s;
}

/* Title */

.title {
    font-family: var(--font-gotham);
    font-style: normal;
    margin: 0;
    &--big {
        font-size: responsive 30px 50px;
        font-range: 576px 1200px;
    }
    &--medium {
        font-size: responsive 18px 20px;
        font-range: 576px 1200px;
    }
    &--small {
        font-size: 16px;
    }
    &--tiny {
        font-size: 14px;
    }
    &--yellow {
        color: var(--color-yellow);
    }
    &--white {
        color: var(--color-white);
	}
    &--black-low {
		color: var(--color-black-low); 
	}
	&--w-light {
		font-weight: 300;
    }
    &--w-normal {
		font-weight: 400;
	}
    &--w-medium {
		font-weight: 500;
	}
	&--w-bold {
		font-weight: bold;
	}
	&--w-black {
		font-weight: 900;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}

.title--indent {
    margin: 0 0 30px 0;
}

/* Text */

.text {
    font-family: var(--font-roboto);
    font-style: normal;
    margin: 0;
	&--black-low {
		color: var(--color-black-gray); 
	}
	&--white {
		color: var(--color-white);
	}
	&--large {
        font-size: responsive 18px 22px;
        font-range: 576px 1200px;
	}
	&--normal {
        font-size: responsive 14px 16px;
        font-range: 576px 1200px;
	}
	&--small {
		font-size: 12px;
	}
	&--tiny {
		font-size: 10px;
	}
	&--w-light {
		font-weight: 300;
	}
	&--w-regular {
		font-weight: normal;
	}
	&--w-medium {
		font-weight: 500;
	}
	&--w-bold {
		font-weight: 700;
    }
	&--w-black {
		font-weight: 900;
    }
    &--italic {
        font-style: italic;
    }
    &--uppercase {
		text-transform: uppercase;
	}
}