:root {
    --color-yellow: #EEFF00;
    --color-dark: #646464;
    --color-invalid: #e61d1d;
	--color-white: #FFFFFF;
    --color-black: #000000;
    --color-black-low: #2B2A29;
    --font-roboto: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-gotham: "GothamPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}