.page-404__wrapp {
    height: 100%;
}

.page-404__picture {
    position: relative;
    display: flex;
    justify-content: center;
}

.page-404__img {
    display: block;
}

.page-404__button {
    position: absolute;
    bottom: 40px;
}