.instafeed {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(4, minmax(200px, 320px));
    justify-content: space-between;
    align-items: baseline;
    grid-gap: 30px;
    @include to(1366px) {
        grid-gap: 30px;
    }
    @include tablet-block {
        grid-gap: 15px;
    }
    @include mobile-block {
        grid-template-columns: repeat(2, minmax(200px, .5fr));
        justify-content: space-around;
        grid-gap: 15px;
    }
    @include mobileXS-block {
        grid-template-columns: repeat(1, minmax(124px, 1fr));
        justify-content: flex-start;
    }
}

.instafeed__link {
    color: var(--color-dark-low);
    text-decoration: none;
    transition: color .2s ease-in-out;
}

.instafeed__link:hover {
    color: var(--color-yellow);
}

.instafeed__link,
.instafeed__img,
.instafeed__title {
    display: block;
    cursor: pointer;
}

.instafeed__img {
    height: 100%;
    max-height: 320px;
    width: 100%;
    max-width: 320px;
    object-fit: cover;
    object-position: center;
    @include mobile-block {
        max-height: 100%;
        max-width: 100%;
    }
}

.instafeed__title {
    margin-top: 10px;
}