.footer {
    background: var(--color-black);
    padding: 12px 0;
}

.footer__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__inner {
    display: flex;
    align-items: center;
}

.footer__menu-link.menu__link {
    color: var(--color-white);
}

.footer__search {
    cursor: pointer;
}

.footer__basket-svg,
.footer__search-svg {
    fill: var(--color-white);
    transition: fill .2s ease;
}

.footer__basket-svg:hover,
.footer__search-svg:hover {
    fill: var(--color-yellow);
}

.footer__basket,
.footer__phone,
.footer__search {
    margin-left: 30px;
}

.footer__phone {
    font-family: var(--font-gotham);
    font-size: 12px;
    text-decoration: none;
    font-weight: 900;
    color: var(--color-white);
    transition: color .2s ease;
}

.footer__phone:hover {
    color: var(--color-yellow);
}