.header {
    position: sticky;
    top: 0;
    left: 0;
    background: var(--color-white);
    z-index: 1001;
    @include tablet-block {
        padding: 8px 0 4px;
    }
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    @include mobile-block {
        display: inline-block;
        max-width: 160px;
    }
}

.header__logo-img {
    cursor: pointer;
}

.header__menu {
    display: flex;
    align-items: center;
    @include tablet-block {
        position: absolute;
        top: 100%;
        height: calc(100vh - 0px);
        left: 0;
        margin-top: 0;
        text-align: center;
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
        z-index: 101;
        opacity: 0;
        visibility: hidden;
        transition: ease-in-out .3s;
        transition-delay: .5s;
        flex-direction: column;
        justify-content: center;
    }
}

.header__menu.is-open {
    @include tablet-block {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
    }
}

.header__menu-list {
    @include tablet-block {
        flex-direction: column;
        font-size: 20px;
    }
}

.header__menu-item {
    @include from(1024px) {
        opacity: 1 !important;
        transform: translateX(0px) !important;
    }
    @include tablet-block {
        opacity: 0;
        transform: translateX(-100px);
    }
}

.header__menu-item ~ .header__menu-item {
    @include tablet-block {
        margin-left: 0;
        margin-top: 30px;
    }
}

.header__menu-link {
    @include tablet-block {
        color: var(--color-white);
    }
}

.header__search {
    cursor: pointer;
    @include tablet(right, 35px);
}

.header__basket-svg,
.header__search-svg {
    fill: var(--color-black-low);
    transition: fill .2s ease;
    cursor: pointer;
    @include tablet(fill, var(--color-white));
}

.header__basket-svg:hover,
.header__search-svg:hover {
    fill: var(--color-yellow);
}

.header__basket,
.header__phone,
.header__search {
    cursor: pointer;
    margin-left: 30px;
}

.header__phone {
    font-family: var(--font-gotham);
    font-size: 12px;
    text-decoration: none;
    font-weight: 900;
    color: var(--color-black-low);
    transition: color .2s ease;
    @include tablet-block {
        color: var(--color-white);
        font-size: 20px;
        left: 35px;
        margin-left: 0;
    }
}

.header__phone:hover {
    color: var(--color-yellow);
}

.header__phone,
.header__search {
    @include tablet-block {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 20px;
        transition: opacity .2s ease, visibility .2s ease;
    }
}

.header__phone.is-open,
.header__search.is-open {
    @include tablet-block {
        opacity: 1;
        visibility: visible;
    }
}