.product-card {
    display: inline-block;
    text-decoration: none;
    transition: ease .3s;
    position: relative;
    width: 100%;
    max-width: 306px;
}

.product-card::before {
    content: '';
    position: absolute;
    left: -15px;
    right: -15px;
    top: -15px;
    bottom: -15px;
    transition: ease .3s;
    @include mobileXS-block {
        left: -10px;
        right: -10px;
        top: -10px;
        bottom: -10px;
    }
}

.product-card:hover:before {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.25);
}

.product-card__picture {
    max-width: 306px;
    max-height: 318px;
    overflow: hidden;
}

.product-card__photo {
    display: block;
    height: 100%;
    width: 100%;
}

.product-card__name {
    margin-top: 15px;
}

.product-card__author,
.product-card__price {
    margin-top: 10px;
}

.product-card__name,
.product-card__author,
.product-card__price {
    font-size: responsive 12px 20px;
    font-range: 576px 1200px;
}

.product-card.product-card--slider,
.product-card.product-card--slider .product-card__picture {
    max-width: 100%;
}

.product-card.product-card--slider::before {
    content: none;
}

.product-card:hover.product-card--slider {
    transform: translateY(-10px);
}