.search-page__headline {
    padding-bottom: 20px;
    border-bottom: 1px solid #C4C4C4;
}

.search-page__result {
    padding: 30px 0;
}

.search-page__result ~ .search-page__result {
    border-top: 1px solid #C4C4C4;
}

.search-page__result-title {
    display: block;
    margin-bottom: 18px;
    text-decoration: none;
}

.search-page__result-title:hover {
    text-decoration: underline;
}

.search-page__result-excerpt {
    margin-bottom: 22px;
}

.search-page__highlight {
    color: var(--color-yellow);
    background: var(--color-black);
    padding: 0 4px;
}

.search-page__no-found {
    margin-top: 30px;
}