.cursor {
    width: 20px;
    height: 20px;
    border: 1px solid yellow;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim 1s infinite alternate;
    pointer-events: none;
    z-index: 10000;
    @include tablet(display, none);
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -9px;
    left: -9px;
    animation: cursorAnim2 1s infinite alternate;
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid var(--color-yellow);
}