* {cursor: none;}

.cursor{
    position: fixed;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(216, 216, 216);
    z-index: 99999;
    user-select: none;
    pointer-events: none;
    @include tablet(display, none);
}

.follower{
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 2px solid rgb(238, 255, 0);
    border-radius: 50%;
    opacity: 0.9;
    z-index: 9999;
    user-select: none;
    pointer-events: none;
    @include tablet(display, none);
}