.table-workshop {
    font-family: var(--font-roboto);
    font-size: responsive 12px 16px;
    font-range: 576px 1200px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    @include tablet-block {
        border: 1px solid rgba(0, 0, 0, 0.25);
        box-shadow: none;
    }
}

.table-workshop__thead {
    text-align: center;
    font-weight: bold;
}

.table-workshop__tbody .table-workshop__td:first-child {
    font-weight: bold;
}

.table-workshop__thead .table-workshop__td,
.table-workshop__tbody .table-workshop__td {
    padding: 20px 30px;
    min-width: 130px;
    text-align: center;
    @include mobileXS-block {
        padding: 15px 10px;
        min-width: 100px;
    }
    @include mobileXSS-block {
        padding: 15px 10px;
        min-width: 80px;
    }
}