.main-screen {
    position: relative;
    height: calc(100vh - 80px);
    @include tablet(height, calc(100vh - 70px));
    @include mobile(height, calc(100vh - 55px));
}

.main-screen__slide-pic {
    position: relative;
}

.main-screen__slide-pic::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
}

.main-screen__slide-img {
    height: calc(100vh - 80px);
    width: 100%;
    display: block;
    object-fit: cover;
    @include tablet(height, calc(100vh - 70px));
    @include mobile(height, calc(100vh - 55px));
}

.main-screen__slogan {
    position: absolute;
    bottom: 130px;
    left: 13%;
    z-index: 10;
    max-width: 636px;
    @include to(1440px) {
        left: 30px;
    }
    @media (max-height: 680px) {
        bottom: 30px;
    }
    @include large(max-width, 600px);
    @include tablet-block {
        font-size: 16px;
        width: 100%;
        max-width: 400px;
        bottom: 100px;
    }
    @include mobile(left, 20px);
    @include mobileXS-block {
        width: 100%;
        max-width: 320px;
        bottom: 30px;
    }
}

.main-screen__heading {
    margin-bottom: 20px;
}

.main-screen__animation-block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-screen__index-screen {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100%;
    padding: 30px 30px 30px 30px;
    @include mobile(padding, 70px 15px 30px 15px);
}

.main-screen__index-screen-svg {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}